*/*.attr
*.o
*.so
.Rhistory
*.attr
*.Rproj
.Rproj.user
src/bioimagetools.so
vignettes/*.tif
vignettes/*.pdf
vignettes/*_files/
vignettes/*_cache/
vignettes/largevignettes/*.tif
vignettes/largevignettes/*.pdf
vignettes/largevignettes/*_files
vignettes/largevignettes/*_cache
.RData
docs/articles/*_cache
docs/articles/*.tif
doc
Meta